#nav {
	font-family: 'Lemon';
	text-align: center;
}

ul {
	list-style-type: none;
	font-size: 40px;
	display: inline;

}

#navbar ul li a:hover { 
color: #330066; 
background-color: #fff; 
} 

#my-name {
	


}

#about_link {
	

}



p {
	font-size: 30px;
	font-family: 'Lemon', cursive;
	text-align: center;

}

.img {
	margin-left: 250px;
	margin-top: 10px;
}


body {
	background: url(http://images7.alphacoders.com/437/437993.jpg);

}


