#nav {
	margin-left: 400px;
	font-family: 'Lemon';
}

ul {
	list-style-type: none;
	font-size: 40px;
	display: inline;
}

#my-name {
	
	padding-left: 30px

}

#about_link {
	
	margin-left: 800px;
	margin-bottom: 80px;
}



p {
	font-size: 20px;
	font-family: 'Lemon', cursive;

}

.img {
	margin-left: 250px;
	margin-top: 10px;
}


body {
	background: url(http://images7.alphacoders.com/437/437993.jpg);

}


